  <section>
      <youtube-player
        [height]="240" 
        [width]="320" 
        (ready)="ytReady($event)"
        (stateChange)="ytStateChange($event)"
        (apiChange)="ytApiChange($event)"
        [videoId]="videoId">
    </youtube-player>
  </section>
  <section>
    <mat-card *ngIf="errorMessage$| async as errorMessage" class="notification">{{errorMessage}}</mat-card>
  </section>
  <!-- <section>
    <mat-form-field>
      <mat-label>Select your language</mat-label>
      <mat-select [(value)]="currentLanguage">
        <mat-option *ngFor="let language of languages" [value]="language" (click)="selectLanguage(language)">
          {{language}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section> -->
  <section>
    <button mat-fab *ngIf="listening$ | async;">
      <mat-icon class="soundwave">mic</mat-icon>
    </button>
  </section>
  <section *ngIf="caption$ | async as caption">
    <mat-card class="notification mat-elevation-z4">[Speaker]: {{caption.text}}</mat-card>
  </section>
<section *ngIf="transcript$ | async">
    <mat-card class="notification mat-elevation-z4">[You]: {{transcript$ | async}}</mat-card>
</section>
